<!-- The main page for the app. Loads and displays the product list and messager. -->
<template>
  <div class="home">
    <aside id="tagline">
      <span>
        Money
        <em>can</em> buy happiness!!
      </span>
    </aside>
    <ProductList></ProductList>
    <router-view></router-view>
  </div>
</template>

<style lang="less" scoped>
.home {
  display: flex;
  flex-direction: column;

  #tagline {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 5px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    background-color: black;
    color: white;

    @media (max-width: 799px) {
      padding-top: 35px;
      padding-left: 20px;
    }

    em {
      font-weight: 300;
      text-decoration: underline;
      text-decoration-color: #ee5c2d;
    }
  }
}
.checkout {
  display: inline-block;
  margin: 0 0 0 auto;
  color: white;
  background-color: rgb(10, 50, 200);
  border-radius: 0 0 0 6px;
  padding: 2px 4px 5px 5px;
  text-decoration: none;

  .cart-size {
    display: inline-block;
    padding: 0 1px;
    color: grey;
  }
}
</style>


<script>
// This view displays products and messages.
import ProductList from "@/components/ProductList.vue";

export default {
  name: "home",
  components: {
    ProductList
  }
};
</script>
