<template>
  <div>
    <transition name="cart-dropdown">
      <button id="cart-button" @click="open = !open" v-show="!open">
        <span class="label">Cart</span>
        <span class="count">{{cart.length}}</span>
      </button>
    </transition>

    <div id="cart-backdrop" v-show="open"></div>
    <transition name="dropdown">
      <section id="cart" v-show="open">
        <header>
          Cart
          <button class="close" @click="open = !open">
            <span>Close</span>
            <span class="icon">╳</span>
          </button>
        </header>
        <main>
          <div class="cart-item" v-for="item in cart" :key="item.sku.id">
            <div class="wrapper-data">
              <img class="product-image" :src="item.product.images[0]">
              <div class="product-name">{{item.product.name}}</div>
            </div>
            <div class="wrapper-hours">
              <span>×</span>
              <input class="hours" v-model="item.hours">
              <span>hours</span>
            </div>
            <div class="wrapper-end">
              <div class="cost">${{item.hours * item.sku.price | dollars}}</div>
              <button class="remove" @click="removeFromCart(item.sku)">Remove from Cart</button>
            </div>
          </div>
        </main>
        <section id="checkout">
          <div class="total-label">Total:</div>
          <div class="total">${{total | dollars}}</div>
          <button class="primary checkout-button" @click="checkOut">Checkout</button>
        </section>
      </section>
    </transition>
  </div>
</template>

<style lang="less" scoped>
#cart-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 0;
  border: none;
  border-left: 2px solid black;
  justify-content: center;

  .label {
    align-self: center;
    padding: 0 0.7em;
  }
  .count {
    box-sizing: border-box;
    align-self: center;
    min-width: 3.5em;
    height: 100%;
    padding: 0 0.7em;
    text-align: center;
    line-height: 25px;
    background-color: #1b66bd;
    color: white;
  }
}

#cart-backdrop {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
#cart {
  position: fixed;
  top: -35px;
  left: 0;
  z-index: -1;
  width: 100vw;
  max-height: 100vh;
  overflow-y: scroll;

  header {
    display: flex;
    padding-left: 230px;
    padding-top: 50px;
    font-size: 38px;
    font-weight: 600;
    background-color: #1b66bd;
    color: white;

    button.close {
      display: flex;
      margin-left: auto;
      background-color: transparent;
      border: none;
      color: white;

      > * {
        margin: auto;
      }

      .icon {
        font-size: 36px;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    // gap: 10px;
    background: repeating-linear-gradient(45deg, #7b36ff, #0076ff);

    > :not(:first-child) {
      margin-top: 10px;
    }
  }

  .cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // gap: 0.5em;
    padding: 0 0 0 20px;
    color: black;
    background-color: #f4fbff;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

    @media (max-width: 749px) {
      flex-direction: column;
      padding: 10px 0 0 0;

      .wrapper-data {
        margin-right: auto;
      }
      .wrapper-hours {
        margin-left: auto !important;
        padding: 5px 11px 5px 0;
      }
      .remove {
        height: 50px !important;
      }
    }

    > * {
      display: flex;

      > * {
        margin: auto;
      }
    }
    .wrapper-hours > * {
      margin-right: 0.5em !important;
    }
    .wrapper-end {
      margin-left: auto !important;
    }

    > :not(:first-child) {
      margin-left: 0.52em;
    }

    .product-name {
      margin-left: 20px;
      font-weight: 500;
    }
    .product-image {
      height: 60px;
    }
    .hours {
      width: 4em;
      font-family: "Work Sans", Arial, sans-serif;
      font-size: 20px;
    }

    .cost {
      display: inline-block;
      margin-right: 0.5em;
      font-weight: 700;
    }
    .remove {
      height: 80px;
      width: 170px;
      border: none;
      border-left: 1px solid rgba(0, 0, 0, 0.5);
      color: #1b66bd;
      background-color: #dfdfdf;
      font-weight: 700;
      font-size: 17px;
    }
  }

  #checkout {
    display: flex;
    // justify-content: end;
    align-items: center;
    // gap: 0.5em;
    padding-top: 20px;
    height: 80px;
    background-color: #393944;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    > :first-child {
      margin-left: auto;
    }
    > :not(:first-child) {
      margin-left: 0.5em;
    }

    .checkout-button {
      width: 170px;
      height: 100%;
    }
  }
}

//TRANSITIONS
.dropdown-enter-active {
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.dropdown-leave-active {
  transition: transform 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.dropdown-enter,
.dropdown-leave-to {
  transform: translateY(-100%);
}

.cart-dropdown-enter-active {
  transition: transform 200ms cubic-bezier(0.215, 0.61, 0.355, 1) 200ms;
}
.cart-dropdown-leave-active {
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cart-dropdown-enter,
.cart-dropdown-leave-to {
  transform: translateY(-100%);
}
</style>

<script>
import { mapGetters } from "vuex";

import EventBus from "@/event_bus.js";

export default {
  data() {
    return {
      open: false
    };
  },

  computed: {
    ...mapGetters(["cart"]),
    total() {
      if (this.cart.length === 0) {
        return 0;
      }
      return this.cart
        .map(item => item.hours * item.sku.price)
        .reduce((preVal, value) => preVal + value);
    }
  },

  watch: {
    open(val, oldVal) {
      if (val === true) {
        document.querySelector("body").style.overflowY = "hidden";
      } else {
        document.querySelector("body").style.overflowY = "scroll";
      }
    }
  },

  methods: {
    removeFromCart(sku) {
      this.$store.commit("removeFromCart", sku);
    },
    checkOut() {
      this.$router.push("/checkout");
    }
  },

  created() {
    EventBus.$on("CheckoutComplete", () => {
      this.open = false;
    });
  }
};
</script>
