<!-- Simple component for displaying messages. Uses messages from the Vuex store, but could use an event bus. -->
<template>
  <div id="messager">
    <div class="bar"></div>
    <transition name="fade">
      <div class="messages" v-show="show">
        <transition-group name="slide">
          <div class="message" v-for="(message, index) in messages" :key="index">
            <div class="message-color" :class="message.type"></div>
            {{message.body}}
          </div>
        </transition-group>
      </div>
    </transition>
  </div>
</template>

<style lang="less" scoped>
#messager {
}
.bar {
  height: 15px;
  background-color: black;
}
.messages {
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 360px);
  z-index: -1;
  margin-left: 224px;
  font-size: 14px;
  background-color: #eee;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);

  @media (max-width: 799px) {
    width: calc(100% - 80px);
    margin-left: 40px;
    padding-top: 30px;
  }

  @media (max-width: 479px) {
    width: calc(100vw - 20px);
    margin-left: 10px;
  }

  .message {
    position: relative;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

    &:not(:first-child) {
      margin-top: 5px;
    }
  }
  .message-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;

    &.error {
      background-color: #de0000;
    }
    &.notice {
      background-color: #1b66bd;
    }
  }

  // TRANSITIONS
  .fade-enter-active {
    transition: 200ms opacity ease-out;
  }
  .fade-leave-active {
    transition: 100ms opacity ease-out 100ms;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .slide-enter-active {
    transition: 300ms opacity ease-out 100ms, 300ms transform ease-out 100ms;
  }
  .slide-leave-active {
    transition: 300ms opacity ease-out, 300ms transform ease-out;
  }
  .slide-enter,
  .slide-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }
}
</style>

<script>
import EventBus from "@/event_bus.js";
import { setTimeout } from "timers";

export default {
  data() {
    return {
      show: false,
      messages: []
    };
  },

  watch: {
    messages(newMessages, oldMessages) {
      if (newMessages.length > 0) {
        this.show = true;
      } else {
        setTimeout(() => {
          this.show = false;
        }, oldMessages.length * 300);
      }
    }
  },

  created() {
    EventBus.$on("error", message => {
      const x = this.messages.push({
        body: message,
        type: "error"
      });

      setTimeout(() => {
        const messageIndex =
          this.messages.findIndex(storedMessage => {
            if (
              storedMessage.body === message &&
              storedMessage.type === "error"
            ) {
              return true;
            }
          }) + 1;

        this.messages = this.messages.slice(messageIndex, 1);
      }, 5000);
    });
    // EventBus.$on("noticeMessage", message => {
    //   this.messages.push({
    //     body: message,
    //     type: "notice"
    //   });
    // });

    setTimeout(() => {
      EventBus.$emit("error", "Lorem ipsum dolor sit amet");
    }, 1000);
  }
};
</script>

