<template>
  <header>
    <Messager></Messager>
    <img src="../assets/logo.svg">
    <Cart></Cart>
  </header>
</template>

<style lang="less" scoped>
header {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: 15px 10px 20px;
  position: fixed;
  width: 100%;

  img {
    grid-column: 1;
    grid-row: ~"1 / 4";
    height: 100%;
    width: auto;
  }

  #messager {
    grid-column: ~"1 / 4";
    grid-row: 1;
  }

  #cart {
    grid-column: 3;
    grid-row: ~"1 / 3";
  }
}
</style>

<script>
import Messager from "@/components/Messager.vue";
import Cart from "@/components/Cart.vue";

export default {
  components: { Messager, Cart }
};
</script>
