<template>
  <div class="product">
    <div class="info">
      <img :src="productData.images[0]">
      <header class="name">{{productData.name}}</header>
      <div class="definitions">
        <div v-for="definition, index in definitions" :key="definition">
          <span>{{index + 1}}.</span>
          {{definition}}
        </div>
      </div>
      <div class="description">{{this.productData.description}}</div>
    </div>
    <div class="actions">
      <strong>×</strong>
      <input type="number" v-model="hours">
      <strong>hours</strong>
      <button class="primary add-to-cart" @click="addToCart()">Add to Cart
        <div class="cost">(${{hours * skuData.price | dollars}})</div>
      </button>
    </div>
  </div>
</template>

<style lang="less">
.product {
  background-color: #f4fbff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px;

  .info {
    display: grid;
    grid-template-columns: auto minmax(min-content, 800px);
    grid-template-rows: min-content min-content auto;
    gap: 16px 20px;
    padding: 60px 60px 50px;

    @media (max-width: 559px) {
      grid-template-columns: auto;
      padding: 30px 30px 25px;
    }
  }

  img {
    align-self: center;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    grid-column: 1;
    grid-row: ~"1 / 4";
  }

  .name {
    font-weight: 600;
    font-size: 32px;
  }

  .definitions {
    font-size: 15px;
    padding-left: 1em;

    span {
      font-weight: 500;
    }
  }

  .actions {
    grid-column: ~"1 / 3";
    display: flex;
    align-items: center;
    // justify-content: end;
    // gap: 0.5em;
    background-color: #393944;
    color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4) inset;

    > :first-child {
      margin-left: auto;
    }
    > :not(:first-child) {
      margin-left: 0.5em;
    }

    strong {
      font-weight: 500;
    }
    input {
      font-size: 17px;
      width: 4em;
    }
    button {
      margin-left: 20px;
      padding: 15px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2) inset;

      .cost {
        font-size: smaller;
        font-weight: 400;
      }
    }
  }
}
</style>


<script>
import EventBus from "@/event_bus.js";

export default {
  props: {
    productData: Object,
    skuData: Object
  },

  data() {
    return {
      hours: 10,
      lorem_ipsum:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum tristique enim eget scelerisque. Vivamus molestie dolor odio, ut viverra libero convallis vel. Phasellus lectus massa, accumsan eu ipsum in, vulputate feugiat metus. Integer vitae ante quis augue elementum tempor. Fusce risus quam, elementum ac ullamcorper sit amet, aliquam ac erat. Praesent suscipit feugiat faucibus. Integer lacinia, dui sit amet feugiat hendrerit, urna tellus tempus eros, interdum posuere massa libero vitae odio."
    };
  },

  computed: {
    definitions() {
      return JSON.parse(this.productData.metadata.definitions);
    }
  },

  methods: {
    addToCart() {
      // make sure hours is a valid amount
      const parseCount = parseFloat(this.hours);
      if (isNaN(parseCount) || parseCount === 0) {
        return;
      }

      // add an item to the cart
      this.$store.commit("addToCart", {
        product: this.productData,
        sku: this.skuData,
        hours: parseCount
      });
      EventBus.$emit("AddToCart");
    }
  }
};
</script>
