<!-- Fetch and display products from Stripe -->
<template>
  <div>
    <!-- Child routes render here -->
    <router-view :products="products"></router-view>

    <!-- The product list -->
    <transition-group name="flip" tag="div" class="products" appear>
      <!-- Child elements use this transition (defined in CSS) when appearing -->
      <Product
        v-for="product in products"
        :key="product.id"
        :productData="product"
        :skuData="getSku(product)"
      ></Product>
    </transition-group>
  </div>
</template>

<style lang="less">
.products {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  // gap: 10px;
  min-height: calc(100vh - 40px);
  background: repeating-linear-gradient(45deg, #ee5c2d, #7b36ff, #ee5c2d);

  > :not(:first-child) {
    margin-top: 10px;
  }
}

// TRANSITIONS
// .flip-enter-active {
//   transition: 400ms opacity ease-out 100ms, 500ms transform ease-out;
// }
// .flip-enter {
//   opacity: 0;
//   transform: rotateY(-90deg) rotateX(90deg);
// }
</style>


<script>
import axios from "axios"; // an AJAX library
import { SERVERLESS_URL } from "@/config.js";

import Product from "@/components/Product.vue";

export default {
  components: {
    Product
  },
  data() {
    // this compoment uses products and skus as data
    return {
      products: [],
      skus: []
    };
  },

  created() {
    // fetch products on component creation
    let _this = this;
    axios.get(SERVERLESS_URL + "fetch-products").then(response => {
      _this.products = response.data.products;
      _this.products.sort((a, b) => {
        const aVal = parseInt(a.metadata.polarity);
        const bVal = parseInt(b.metadata.polarity);
        if (aVal < bVal) {
          return 1;
        } else if (aVal > bVal) {
          return -1;
        } else {
          return 0;
        }
      });

      _this.skus = response.data.skus;
    });
  },

  methods: {
    getSku(product) {
      return this.skus.find(sku => {
        if (sku.product === product.id) {
          return sku;
        }
      });
    }
  }
};
</script>
