<template>
  <div id="app">
    <Nav></Nav>
    <router-view></router-view>
    <!-- Display route for main page -->
  </div>
</template>

<style lang="less">
// app-wide theme
@import (css)
  url("https://fonts.googleapis.com/css?family=Work+Sans:300,300i,500");
@import (css)
  url("https://fonts.googleapis.com/css?family=Montserrat:300i,500,600");

:root {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Montserrat", Helvetica, sans-serif;
}
body {
  margin: 0;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
button,
.button {
  padding: 3px 10px 5px;
  border: 1px solid rgb(200, 200, 200);
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  &.primary {
    border: none;
    color: white;
    background-color: #1b66bd;
  }
}
</style>

<script>
import Nav from "@/components/Nav.vue";

export default {
  components: {
    Nav
  }
};
</script>
